.profile__group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* display: flex;
    flex-flow: row nowrap;
    position: relative;
    align-items: flex-end; */
}

@media screen and (max-width: 1280px) {
    .profile__group {
        
    }
}

@media screen and (max-width: 1000px) {
    .profile__group {
        
    }
}

@media screen and (max-width: 400px) {
    .profile__group {
        position: relative;
        display: block;
        text-align: center;
    }
}