.profile__group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 400px) {
    .profile__group {
        position: relative;
        display: block;
        text-align: center;
    }
}