.popup__container {
    max-width: 430px;
    background-color: white;
    border-radius: 10px;
    /* border-style: none;
    display: flex;
    flex-direction: column; */
    position: relative;
    box-sizing: border-box;
    color: black;
}