.profile {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    margin: 40px 0 0;
}

@media screen and (max-width: 1000px) {
    .profile {
        flex-direction: column;
        /* align-items: center; */
        margin: 42px 0 0;
    }
}

@media screen and (max-width: 400px) {
    .profile {
        max-width: 282px;
        margin: 0;
        /* padding-top: 42px; */
        padding: 42px 19px 0;
    }
}