.popup__close {
    background-image: url(./../../../images/Vector3.svg);
    transform: rotate(45deg);
    /* background-position: 50%;
    background-repeat: no-repeat; */
    background-size: contain;
    width: 32px;
    height: 32px;
    background-color: transparent;
    position: absolute;
    top: -40px;
    right: -40px;
    /* color: yellow; */
    border: none;
}

.popup__close:hover {
    opacity: 0.6;
}